trigger:
  branches:
    include:
      - veer-dev

pr:
  branches:
    include:
      - veer-dev

variables:
  - name: npm_config_cache
    value: $(Pipeline.Workspace)/.npm
  - name: vmImageName
    value: ubuntu-latest

pool:
  vmImage: $(vmImageName)

stages:
  - stage: DockerBuildAndPush
    displayName: "Build & Deploy Docker Image to Production"
    condition: |
      or(
        eq(variables['Build.SourceBranchName'], 'veer-dev'),
        and(
          contains(variables['System.PullRequest.TargetBranch'], 'veer-dev'),
          eq(variables['Build.Reason'], 'PullRequest')
        )
      )
    variables:
      - group: hwrf-frontend-prod-variable-group

    jobs:
      - job: DockerJob
        displayName: "Manual Docker Build and Push"
        steps:

          - script: |
              echo "Logging in to ACR..."
              echo $(ACR_PASSWORD) | docker login $(ACR_NAME).azurecr.io -u $(ACR_USERNAME) --password-stdin

              echo "Building Docker image with build args..."
              docker build \
                --build-arg VITE_API_URL=$(VITE_API_URL) \
                -t $(ACR_NAME).azurecr.io/$(CONTAINER_REG_REPO_NAME):latest \
                -t $(ACR_NAME).azurecr.io/$(CONTAINER_REG_REPO_NAME):production-$(Build.BuildId) \
                -f $(Build.SourcesDirectory)/Dockerfile \
                $(Build.SourcesDirectory)

              echo "Pushing Docker image to ACR..."
              docker push $(ACR_NAME).azurecr.io/$(CONTAINER_REG_REPO_NAME):latest
              docker push $(ACR_NAME).azurecr.io/$(CONTAINER_REG_REPO_NAME):production-$(Build.BuildId)

              echo "Logout from ACR..."
              docker logout $(ACR_NAME).azurecr.io
            displayName: "Build & Push Docker Image with Build Args"

          - task: AzureWebAppContainer@1
            displayName: "Deploy to Azure Web App (Production)"
            inputs:
              azureSubscription: 'hwrf-production-connection'
              appName: $(HWRF_PROD_WEBAPP_NAME)
              resourceGroupName: $(HWRF_PROD_RESOURCE_GROUP)
              imageName: $(ACR_NAME).azurecr.io/$(CONTAINER_REG_REPO_NAME):latest
