/* Base Styles for the ContentEditable Root */
.ContentEditable__root {
  border-width: 1px ;
  border-radius: 2px;
  font-size: 15px; /* Consistent font size */
  display: block;
  position: relative;
  outline: none;
  padding: 8px ;
  min-height: 20px;
  height: fit-content;
  background-color: #ffff;
  padding-left: 90px;
  padding-right: 90px;
  width: 100%; /* Ensure full width inside parent container */
  max-width: 100%; /* Prevent overflow */
  box-sizing: border-box; /* To handle padding properly */
}

/* Adjustments for smaller screen sizes */
@media (max-width: 1025px) {
  .ContentEditable__root {
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* Placeholder Styles */
.ContentEditable__placeholder {
  font-size: 15px; /* Consistent font size */
  color: #999; /* Light grey color */
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 8px;
  left: 28px;
  right: 28px;
  user-select: none;
  white-space: nowrap; /* Ensure placeholder does not break onto new lines */
  display: inline-block;
  pointer-events: none; /* Prevent user interaction */
}

/* Adjustments for smaller screens */
@media (max-width: 1025px) {
  .ContentEditable__placeholder {
    left: 8px; /* Align left padding */
    right: 8px; /* Align right padding */
  }
}
