
.adult-teeth-selector {
  position: relative;
  width: 400px;
  height: 400px;
  margin: auto;
  
  .adult-teeth-image {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("/adult-teeth-quadrant.png") no-repeat top center;
    background-size: contain;
  }

  .adult-tooth-button {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #3978cd;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    color: #3978cd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(-50%, -50%);

    &.adult-selected {
      background-color: #f31a1a;
      color: #ffffff;
    }

    &:hover {
      background-color: #73bdec;
      color: #ffffff;
    }
  }

  .adult-selected-teeth {
    margin-top: 20px;
    text-align: center;

    h4 {
      color: #2561c2;
    }

    p {
      color: #2b2a29;
    }
  }
}
