
.child-teeth-selector {
  position: relative;
  width: 400px;
  height: 600px;
  margin: auto;

  .child-teeth-image {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("/child-teeth-quadrant.jpg") no-repeat center center;
    background-size: contain;
  }

  .child-tooth-button {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #3978cd;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    color: #3978cd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(-50%, -50%);

    &.child-selected {
      background-color: #35b14a;
      color: #ffffff;
    }

    &:hover {
      background-color: #000000;
      color: #ffffff;
    }
  }

  .child-selected-teeth {
    margin-top: 20px;
    text-align: center;

    h4 {
      color: #2561c2;
    }

    p {
      color: #2b2a29;
    }
  }
}
