.dynamic-fields-container {
    // padding: 20px;
    background-color: none !important;
  
    .add-field-button {
      margin-bottom: 20px;
    }
  
    .fields-row {
      margin-top: 20px;
    }
  
    .field-col {
      display: flex;
      justify-content: center;
    }
  }
  