// Variables
$primary-color: #1890ff;
$background-color: #f0f2f5;
$card-bg: #ffffff;
$field-bg: #ffffff;
$border-color: #d9d9d9;
$shadow-color: rgba(0, 0, 0, 0.2);

// General Styles
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $background-color;
}

// Container
.dynamic-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  div{
    width: 100%;
  }

  .add-field-button {
    width: 100%;
    max-width: 200px;
    background-color: none;
    color: #fff;
    border: none;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

// Card Styles
.ant-card {
  border-radius: 10px;
  box-shadow: 0 4px 10px $shadow-color;
  background-color: $card-bg;
}

// Fields List
.fields-list {
  width: 100%;
  padding: 10px;

  .field-item {
    background-color: $field-bg;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px $shadow-color;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: lighten($field-bg, 5%);
      box-shadow: 0 4px 8px $shadow-color;
    }

    // Drag Handle
    .drag-handle {
      cursor: grab;
      margin-bottom: 10px;
      font-weight: bold;
      color: $primary-color;

      &:hover {
        text-decoration: underline;
      }
    }

    // Field Content
    .field-content {
      display: flex;
      flex-direction: column;

      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        outline: none;

        &:focus {
          border-color: $primary-color;
          box-shadow: 0 0 5px $primary-color;
        }
      }

      .options-list {
        margin-top: 10px;

        .option-item {
          display: flex;
          align-items: center;
          margin-bottom: 5px;

          input {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

// Save Button
.save-button {
  width: 100%;
  max-width: 200px;
  background-color: $primary-color;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
