.field-container {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
  }
  
  .field-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  
    .title-input {
      font-weight: bold;
      font-size: 16px;
      border: none;
      box-shadow: none;
      padding: 0;
    }
  
    .title-input:focus {
      outline: none;
      box-shadow: none;
      border: none;
    }
  }
  
  .field-input,
  .field-textarea {
    width: 100%;
  }
  