.camp-section {
  .carousel-wrapper {
    position: relative;

    .camp-carousel {
      display: flex;
      gap: 16px; // Space between cards
      overflow-x: auto;
      overflow-y: hidden;
      scroll-behavior: smooth;
      scrollbar-width: 1px;

      .camp-card {
        min-width: 250px; // Adjust based on design
        cursor: pointer;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        border-radius: 8px;

        &:hover {
          transform: scale(1.005);
          // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        }

        // Highlighted card styles
        &.highlighted-card {
          background-color: #4d8950; // Yellow background
          border: 2px solid #039333; // Orange border
          // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); // Subtle shadow
        }
      }

      .camp-card-body {
        border: none;
        // background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    // transition: opacity 0.3s ease, transform 0.2s ease;

    &:hover {
      opacity: 1;
      // transform: scale(1.1);
    }

    &.left-btn {
      left: -20px;
    }

    &.right-btn {
      right: -20px;
    }
  }

  @media (max-width: 768px) {
    .carousel-wrapper {
      display: flex !important;
      .camp-carousel {
        gap: 8px; // Reduce gap between cards

        .camp-card {
          min-width: 200px; // Adjust card width for smaller screens
        }
      }

      .carousel-btn {
        width: 30px;
        height: 30px;

        &.left-btn {
          left: -10px;
        }

        &.right-btn {
          right: -10px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .carousel-wrapper {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
      .camp-carousel {
        display: flex !important;
        flex-direction: column;
        gap: 4px; // Further reduce gap between cards

        .camp-card {
          display: flex !important;
          min-width: 100%; // Full width for very small screens
        }
      }

      .carousel-btn {
        width: 25px;
        height: 25px;

        &.left-btn {
          left: -5px;
        }

        &.right-btn {
          right: -5px;
        }
      }
    }
  }
}
